html{width:100%; height:100%; overflow:hidden; }
body{width:100%; height:100%;background:url("../images/bg.jpg") no-repeat left top;}
input:-webkit-autofill{ -webkit-box-shadow: 0 0 0 1000px white inset;}
.body_gys{width: 1200px;   position: absolute;    left: 50%;    margin-left: -600px;    top: 50%;    margin-top: -268px; }
.logo_item ,.logo_item img{width:432px; height:168px;}
.logo_item { padding-left:118px; float:left;}
.body_gys .form{width:400px; height:385px; padding-right:130px; float:right; }
.body_gys .form form{width:100%; height:100%; background:#fff; font-size:14px;}
.body_gys .form .item{width:340px; height:40px; padding-bottom:25px; margin:0 auto;  }
.body_gys .form h2{font-size:18px; color:#333;  text-align:center; padding-top:16px; padding-bottom:32px;}
.body_gys .form .item input{width:100%;  height:100%;  box-sizing:border-box; border:1px solid #dddddd; padding-left:45px; line-height:38px;}
.body_gys .form .item.tel input{ background:url("../images/ic3.png") no-repeat 12px center;}
.body_gys .form .item.pwd input{ background:url("../images/ic2.png") no-repeat 12px center; }
.body_gys .form .item.yzm input{ background:url("../images/ic1.png") no-repeat 12px center; width:195px; float:left; }
.body_gys .form .item.yzm img{float:right; width:128px; height:40px; }
.body_gys .form button{width:340px; height:40px; background:#ff2d4b; font-size:16px; color:#fff; border:none; border-radius:4px; margin: 30px auto;    display: block; cursor:pointer;}
.footer{width:100%; height:75px; color:#fff; position:absolute; left:0; bottom:0; text-align:center; background:#000; opacity:0.5; filter:Alpha(opacity=50); line-height:75px; font-family:arial; font-size:12px;}


.form{position: relative;}
.register{position: absolute;right:30px ;bottom: 10px;color: #009DDB !important;cursor: pointer;}
.register-img{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    left: 80px;
    bottom: -10px;
}
.register-img p{
    color: #666;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.register:hover .register-img{
    display: block;
}