<!--添加用户表单-->
<div class="tab_edit">
    <form action="{:Url('task_submit')}" method="post" id="task_submit">
        <table width="100%" class="list">
            <tr>
                <td class="t_r t_left_w">项目名称</td>
                <td class="t_l">
                    <select name="project_id" style="width: 255px;">
                        <option value ="">请输入...</option>
                        {foreach name="$project_list" item="info"}
                        <option value ="{$info.project_id}">{$info.project_name}</option>
                        {/foreach}
                    </select>
                    <label name="project_id" generated='true' class='error'>*</label>
                </td>
            </tr>
            <tr>
                <td class="t_r t_left_w">进度描述：</td>
                <td class="t_l">{:widget('common/TextArea/text_area',array('rate_describe',null,true))}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">进度百分比：</td>
                <td class="t_l">{:widget('common/Input/input',array('rate_percent',null,false))}<font color="red">单位：(%)</font></td>
            </tr>
            <tr>
                <td class="t_r t_left_w">备注：</td>
                <td class="t_l">
                    {:widget('common/TextArea/text_area',array('remark',null,false))}
                </td>
            </tr>
            <tr>
                <td class="t_r t_left_w"></td>
                <td class="t_l">
                    <div class="btn"><input type="submit" class="but_blue" value="保存信息"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
