<!-- 编辑区域 -->
<div class="lists">
    <!--添加用户表单-->
    <div class="tab_edit">
        <table width="100%" class="list">
            <tr>
                <td class="t_r t_left_w">真实姓名：</td>
                <td class="t_l">
                    {$admin_info['real_name']|default='--'}
                </td>
            </tr>
            <tr>
                <td class="t_r t_left_w">电话号码：</td>
                <td class="t_l">
                    {$admin_info['phone']|default='--'}
                </td>
            </tr>
            <tr>
                <td class="t_r t_left_w">角色：</td>
                <td class="t_l">{:widget('common/Select/select',array('admin_role_id',array($role_list,"admin_role_id","role_name"),$admin_info['admin_role_id'],false,true))}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">最后登录时间：</td>
                <td class="t_l">{$admin_info['login_time']}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">最后登录IP：</td>
                <td class="t_l">{$admin_info['login_ip']}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">注册时间：</td>
                <td class="t_l">{$admin_info['reg_time']}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">备注：</td>
                <td class="t_l">{$admin_info['remark']}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">语音：</td>
                <td class="t_l"><audio src="http://wsaudio.bssdlbig.kugou.com/1812201511/R1WhSTQgy-h-Kp6oIJAQ0w/1545376281/bss/extname/wsaudio/9bddf93b403542e99ab9cf018163631c.mp3" controls="controls">
                    浏览器不支持播放音频.
                </audio></td>
            </tr>
        </table>
    </div>
</div>
