<!--添加用户表单-->
<div class="tab_edit">
    <form action="{:Url('demand_test_audit_submit')}" method="post" id="demand_test_audit_submit">
        <input type="hidden" name="demand_id" value="{$demand_id}"/>
        <table width="100%" class="list">
            <tr>
                <td class="t_r t_left_w">需求编号：</td>
                <td class="t_l">{$demand_info.demand_id}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">项目编号：</td>
                <td class="t_l">{$demand_info.project_id}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">项目名称：</td>
                <td class="t_l">{$demand_info.project_name}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">需求描述：</td>
                <td class="t_l">{$demand_info.demand_describe}</td>
            </tr>
            <tr>
                <td class="t_r t_left_w">测试审核：</td>
                <td class="t_l">{:widget('common/Radio/radio',array('test_audit','test_audit',null,true))}</td>
            </tr>
            <tr class="hide time">
                <td class="t_r t_left_w">不通过理由：</td>
                <td class="t_l">{:widget('common/Input/input',array('refuse_describe',null,false))}</td>
            </tr>

            <tr>
                <td class="t_r t_left_w"></td>
                <td class="t_l">
                    <div class="btn"><input type="submit" class="but_blue" value="保存信息"></div>
                </td>
            </tr>
        </table>
    </form>
</div>


<script language="javascript">
    $(function() {
        var refuse_describe = $("tr.time");
            refuse_describe.hide();
        var test_audit = $("input[name='test_audit']");

            test_audit.live("change", function () {
            if ($("input[name='test_audit']:checked").val() == 1) {
                refuse_describe.show();
            } else {
                refuse_describe.hide();
            }
        });
    }
    )
</script>